@{
    ViewBag.Title = "财务档案借阅信息操作";
    Layout = "_faArchiveLayout.cshtml";
}
@Styles.Render("~/bundles/gridcss")
@Scripts.Render("~/bundles/gridjs")
@Scripts.Render("~/bundles/falenddocjs")
<div id="faDocListErrorContainer" class="error" ></div>
<div class="box">
    <div class="search beleft margin_l_10">
        <div class="search_box" title="支持存储内容、凭证字、凭证券号、存储位置、存储柜号模糊查询.">
            <input type="text" id="searchText" style="width: 200px;" placeholder="存储内容、凭证字、凭证券号、存储位置、存储柜号"/>				
        </div>
        <span class="margin_r_10">财务档案信息</span>
    </div>
    <div class="tab_button">
        <a id="searchButton" class="button02">
            <span class="l"></span>
            <span class="m">搜索</span>
            <span class="r"></span>
        </a>
        <a id="showMoreQueryButton" class="button02">
            <span class="l"></span>
            <span class="m">高级搜索</span>
            <span class="r"></span>
        </a>
        <a id="exportToExcelButton" class="button02">
            <span class="l"></span>
            <span class="m">导出到Excel</span>
            <span class="r"></span>
        </a>
    </div>
</div>
<div class="content_container clearfix" style="display: none" id="moreQueryContainer">
    <table style="width: 100%;">
        <tr class="border_b_1_da">
            <td style="width: 80px;">
                存储内容:
            </td>
            <td style="width: 280px;">
                <input type="text" id="content" name="content" class="text_input" />
            </td>
            <td style="width: 80px;">
                年份:
            </td>
            <td style="width: 280px;">
                <input type="text" id="year" name="year" class="text_input" />
            </td>
            <td style="width: 80px;">
                月份:
            </td>
            <td>
                <input type="text" id="month" name="month" class="text_input" />
            </td>
        </tr>
        <tr class="border_b_1_da">
            <td>
                凭证字:
            </td>
            <td>
                <input type="text" id="voucherWord" name="voucherWord" class="text_input" />
            </td>
            <td>
                凭证号:
            </td>
            <td>
                <input type="text" id="voucherNumber" name="voucherNumber" class="text_input" />
            </td>
            <td>
                凭证券号:
            </td>
            <td>
                <input type="text" id="voucherNo" name="voucherNo" class="text_input" />
            </td>
        </tr>
        <tr class="border_b_1_da">
            <td>
                存储位置:
            </td>
            <td>
                <input type="text" id="path" name="path" class="text_input" />
            </td>
            <td>
                存储柜号:
            </td>
            <td>
                <input type="text" id="cabinetNo" name="cabinetNo" class="text_input" />
            </td>
        </tr>
    </table>
</div>
<div class="content_container clearfix">
    <table id="faDocGrid"></table>
    <div id="faDocPager"></div>
</div>