@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>出现异常</title>
    </head>
    <body>
        <h2>出现异常:请联系管理员.</h2>
    </body>
</html>