@{
    ViewBag.Title = "柜号管理";
    Layout = "../Shared/Navigation.cshtml";
}
@Styles.Render("~/bundles/gridcss")
@Scripts.Render("~/bundles/gridjs")
@Scripts.Render("~/bundles/facabinetNolistjs")
<div class="box">
    <div class="search beleft margin_l_10">
        <div class="search_box" title="支持柜号模糊查询.">
            <input type="text" id="searchText" style="width: 200px;" placeholder="柜号\存储位置"/>				
        </div>
        <span class="margin_r_10">柜号信息</span>
    </div>
    <div class="tab_button">
        <select  id="cabinetNoStates" style="width: 80px;" title="状态选择">
            <option selected="selected" value="">选择</option>
            <option value="true">启用</option>
            <option value="false">未启用</option>
        </select>
    </div>
    <div class="tab_button">
        <a id="searchButton" class="button02">
            <span class="l"></span>
            <span class="m">搜索</span>
            <span class="r"></span>
        </a>
         <a id="addButton" href="FaCabinetNoMgmt" class="button02">
            <span class="l"></span>
            <span class="m">添加</span>
            <span class="r"></span>
        </a>
    </div>
</div>
<div class="content_container clearfix">
    <table id="dataGrid"></table>
    <div id="dataPager"></div>
</div>